##______________________________________________________________________________
##                                                       Mac OS X specific files
.DS_Store
##______________________________________________________________________________
##                                                               Temporary files
*~
*.aux
*.log
*.dvi
*.toc
*.rel

